
@{
    List<List<string>> listTrack = ViewBag.listTrack;
    List<List<List<string>>> listInfo = ViewBag.listInfo;

    int quantity = listTrack.Count;
    if (quantity == 0)
    {
    }else if (quantity%5 == 0)
    {
        quantity /= 5;
    }
    else
    {
        quantity /= 5;
        quantity++;
    }

    double tempWidth = quantity - 1;
    tempWidth *= 0.5;
    tempWidth = 100 - tempWidth;
    tempWidth = tempWidth/quantity;
    string widthButton = tempWidth + "%";
}

<style>
    .detail-song-artist-button {
        width: @widthButton;
    }
</style>


<div class="col-sm-12 detail-song-artist">
    <div class="detail-song-artist-title">
        <span>More Track This Artist</span>
    </div>
    <div class="detail-song-artist-content">

        <div class="slider-detail-song-artist">

            @{
                var number = listTrack.Count;
                var count = 0;
                for (int i = 0; i < quantity; i++)
                {
                    <div stt="@i" class="slider-detail-song-artist-img">
                        <ul>
                            @for (int j = 0; j < 5; j++)
                            {
                                <li>
                                    <div class="detail-song-artist-song">
                                        <div class="detail-song-artist-song-top">
                                            <img src="@Url.Content(listTrack[count][2])" alt="">
                                            <div class="detail-song-artist-song-top-control">
                                                <button class="detail-song-artist-song-play"><i class="fa fa-play"></i></button>
                                                <button class="detail-song-artist-song-buy">$@listTrack[count][4]</button>
                                                <button class="detail-song-artist-song-share"><i class="fa fa-facebook"></i>Share</button>
                                            </div>
                                            <p></p>
                                        </div>
                                        <div class="detail-song-artist-song-bottom">
                                            <p class="detail-song-artist-song-name">
                                                <a href="#">@listTrack[count][1]</a>
                                            </p>
                                            <p class="detail-song-artist-song-artist">
                                                @foreach (var k in listInfo[count][0])
                                                {
                                                    <a href="#"> @k </a>
                                                }
                                            </p>
                                            <p class="detail-song-artist-song-label">
                                                @foreach (var k in listInfo[count][1])
                                                {
                                                    <a href="#"> @k </a>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </li>


                                count = count + 1;
                                if (count == number - 1)
                                {
                                    break;
                                }
                            }
                            

                        </ul>
                    </div>
                }
            }



            <div class="slider-detail-song-artist-control">
                @{
                    for (int i = 0; i < quantity; i++)
                    {
                        if (i != 0)
                        {
                            <div stt="@i" class="detail-song-artist-button"></div>
                        }
                        else
                        {
                            <div stt="0" class="detail-song-artist-button-active detail-song-artist-button"></div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>